{% extends "base.html" %}
{% load staticfiles %}

{% block title %}3VRM{% endblock %}


{% block content %}

<div class="container">
		<div class="homepage" id="homepage-graphic">
			<img src="{% static "media/homepage graphic.png" %}">
	</div>
	<div class="homepage" id="intro">
		<div class="marketing-site-hero-content">
			<h1>Solutions for Managing Third Party Risk & Vendor Relationships</h1>
			<p class="subheader">3VRM is a specialist consultancy focussed on helping organisations to identify and manage risk through their third party supply chain and Vendor relationships.    We are a small network of skilled professionals expert in Third Party and Vendor Risk Management</p>
			<a href="{% url "services" %}" class="round button">learn more</a>
		</div>
	</div>
</div>



{% endblock %}