{% extends "base.html" %}
{% load staticfiles %}

{% block title %}3VRM Services{% endblock %}


{% block content %}
<p class="subheader" id="services-header">The inventory of services we offer is based on our Inventory of Third Party and Vendor Risks™ and leverages our Third Party and Vendor Risk Framework™.</p>
<div class="grid-x grid-padding-x">
	<div class="cell small-12 flex-container flex-dir-column large-flex-dir-row">
		<div class="callout primary flex-child-auto">
			<div class="callout primary flex-child-auto">
				<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
					<div class="flip-card-inner">
						<div class="flip-card-inner-front" id="box-a">
							<h3 class="flip-card-inner-front-title">Vendor Inventory Maintenance</h3>
						</div>
						<div class="flip-card-inner-back" id="box-a">
							<h3 class="flip-card-inner-back-title">Procurement Teams & Pre-Contract</h3>
							<p class="flip-card-inner-back-text">Vendor Baselining</p>
							<p class="flip-card-inner-back-text">Vendor Selection</p>
							<p class="flip-card-inner-back-text">Vendor Segmentation</p>
							<p class="flip-card-inner-back-text">Vendor Risk Assessment</p>
							<p class="flip-card-inner-back-text">Vendor Due Diligence</p>
							<p class="flip-card-inner-back-text">Contracting</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="callout primary flex-child-auto">
		<div class="callout primary flex-child-auto">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
				<div class="flip-card-inner">
					<div class="flip-card-inner-front" id="box-b">
						<h3 class="flip-card-inner-front-title">Vendor Management</h3>
					</div>
					<div class="flip-card-inner-back" id="box-b">
						<h3 class="flip-card-inner-back-title">Procurement Teams & Pre-Contract</h3>
						<p class="flip-card-inner-back-text">Vendor Inventory Maintenance</p>
						<p class="flip-card-inner-back-text">Vendor Segmentation Management</p>
						<p class="flip-card-inner-back-text">Vendor Assurance</p>
						<p class="flip-card-inner-back-text">Manage Performance</p>
						<p class="flip-card-inner-back-text">Manage Risk</p>
						<p class="flip-card-inner-back-text">Manage Contract</p>
						<p class="flip-card-inner-back-text">Manage Relationship</p>
						<p class="flip-card-inner-back-text">Raise Orders and Verify Receipt</p>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="callout primary flex-child-auto">
		<div class="callout primary flex-child-auto">
			<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
				<div class="flip-card-inner">
					<div class="flip-card-inner-front" id="box-c">
						<h3 class="flip-card-inner-front-title">Other Products & Services</h3>
					</div>
					<div class="flip-card-inner-back" id="box-c">
						<h3 class="flip-card-inner-back-title">Other Products and Services</h3>
						<p class="flip-card-inner-back-text">Governance</p>
						<p class="flip-card-inner-back-text">Policies, Standards and Procedures</p>
						<p class="flip-card-inner-back-text">Third Party Vendor Risk Framework™</p>
						<p class="flip-card-inner-back-text">Diagnose Third Party and Vendor Risk™</p>
						<p class="flip-card-inner-back-text">Cost Third Party and Vendor Risk™ 	</p>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>
{% endblock %}